<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
    <add name="ASPNETConnectionString" connectionString="Data Source=SERVER\SQLEXPRESS;Database=SSManagerNew;User ID=sa;Password=Airl54i5nk!"/>
	</connectionStrings>
</configuration>